@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
}

body {
	background-color: hsl(212, 45%, 89%);
}

.container {
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  padding: 1rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}

.card-img img {
  max-width: 100%;
  border-radius: 10px;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  display: flex;
  text-align: center;
  font-family: 'Outfit';
  font-weight: 700;
  font-size: 1.3rem;
  color: hsl(218, 44%, 22%);
  padding: 1rem 0.4rem 0rem 0.4rem;
}

.card-paragraph {
  display: flex;
  text-align: center;
  font-family: 'Outfit';
  font-weight: 400;
  font-size: 0.9rem;
  color: hsl(220, 15%, 55%);
  padding: 1.3rem;
}

.attribution {
  text-align: center;
  font-size: 0.93rem;
}

.attribution a {
  color: hsl(219, 68%, 42%);
  font-size: 0.93rem;
}

@media (max-width: 385px) {
  .attribution a {
    font-size: 0.8rem;
  }
  .attribution {
    font-size: 0.8rem;
  }
}